.Home_headerFrame {
    display: flex;
    flex: 1;
}

.Home_bodyFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 3;
}

.Home_footerFrame {
    display: flex;
    flex: 1;
}

.Home_noticeRow {
    display: flex;
    width: 400px;
    justify-content: space-between;
}